$background: #15171b;
$background-secondary: #24292e;
$text-primary: #ededed;
$text-secondary: #98a1b6;
$color-primary: #4654a5;
$nav-color: #1a2230;
$border-color: #29282e;
$card-background: #191b20;
$color-danger: #e6454f;
$color-warning: #fb952d;
$color-succes: #00f2bc;
$light-grey: #2f333c;
$code-color: #343437;
$code-border: #525151;

$header-height: 4rem;
$footer-height: 3rem;
$header-page-gap: 3rem;
$page-padding: 1.25rem;
$sidebars-width: 300px;
$sidebars-gap: 0.625rem;

$h-size-xl: 2rem;
$h-size-lg: 1.5rem;
$h-size-m: 1.125rem;
$h-size-sm: 1rem;

$text-size-xl: 1.5rem;
$text-size-lg: 1.125rem;
$text-size-m: 1rem;
$text-size-sm: 0.875rem;
