@use '../../../scss/vars';

.sidebar {
  position: sticky;
  display: flex;
  top: vars.$header-height + 3rem;
  min-width: vars.$sidebars-width;
  height: calc(100dvh - 190px);
  overflow-y: scroll;
  margin-top: vars.$header-page-gap;
  color: vars.$text-secondary;

  @media (max-width: 578px) {
    display: none;
  }
  .navigation {
    width: 100%;
    height: 100%;
  }
}
