@use '../../../scss/vars';

.select {
  background-color: vars.$light-grey;
  color: vars.$text-primary;
  padding: 0.25rem 1rem;
  border-radius: 10px;
  border: 1px solid lighten(vars.$border-color, 20%);
  cursor: pointer;
}
